@using Microsoft.AspNetCore.Mvc.Razor;
@using ApiGateway.Models.Table;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">API Calls:</h1>
    <p>Below are all the calls being made to the api.</p>
    @* Add the filter input field here *@
    <div class="mb-3">
        <input type="text" id="tableFilterInput" class="form-control" placeholder="Filter calls..." aria-label="Filter table content">
    </div>
    <div class="table-scroll-container">
        <table class="table table-fixed table-dark table-striped text-start">
            <thead>
                <tr>
                    <th scope="col" colspan="1" class="sortable-header" data-column-index="0">
                        Status Code <span class="sort-icon"></span>
                    </th>
                    <th scope="col" colspan="7" class="sortable-header" data-column-index="1">
                        Request <span class="sort-icon"></span>
                    </th>
                    <th scope="col" colspan="1" class="sortable-header" data-column-index="2">
                        Time <span class="sort-icon"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @* Table managed by javascript *@
                <tbody id="apiCallsTableBody">
                    @* Initial state while connecting *@
                    <tr>
                        <td colspan="9" class="text-center">Connecting to data stream...</td>
                    </tr>
                </tbody>
            </tbody>
        </table>
    </div>
</div>

@* Add the JavaScript section at the end *@

@section Scripts {
    <script src="~/js/signalConnection.js" asp-append-version="true"></script>
    <script src="~/js/tableFilter.js" asp-append-version="true"></script> 
    <script src="~/js/tableSort.js" asp-append-version="true"></script>
}

@* Add CSS for the scrolling container and sticky header *@
@section Styles {
    <link rel="stylesheet" href="~/css/signalConnection.css" asp-append-version="true" />
}
